image: barichello/elm

stages:
  - check
  - deploy

analyse:
  stage: check
  script:
    - elm-analyse

build:
  stage: check
  script:
    - elm make src/Main.elm --output=index.html
  artifacts:
    paths:
      - index.html

deploy:
  stage: deploy
  only:
    - master
  dependencies:
    - build
  script:
    - git checkout gh-pages
    - rm -f *.md
    - git config user.name ${DEPLOY_USERNAME}
    - git config user.email ${DEPLOY_EMAIL}
    - git remote add github ${REMOTE_URL}
    - git add -A
    - 'git commit -m "[ci-skip] Deploy GitHub Pages ${CI_JOB_NAME}-${CI_COMMIT_SHORT_SHA}" -m "Deploy from GitLab pipeline ${CI_COMMIT_SHA}"'
    - git push github gh-pages --force
